<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Werner Strydom</title>
</head>
<body>
    <header>
        <h1>Werner Strydom</h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>Copyright 2017 Werner Strydom</p>
    </footer>
</body>
</html>